:root{
    --topPosition:17vh;
}

*{
    padding: 0;
    margin: 0;
}

.page-wrapper .allBox{
    margin: 0px 120px; 
}

/* welcome panel style start */
.welcome-area{
    position: absolute;
    top: var(--topPosition);
    left: 20vh;
    width: 104vh;
    height: 22vh;
    max-height: 32vh;
    background: none;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgb(0,0,0,.2);
}

.welcome-area #stdash1{
    position: relative;
    bottom: 8.5vh;
    right: 9vh;
    width: 110vh;
    height: 32vh;
}

.welcome-area #stdash2{
    position: relative;
    bottom: 43vh;
    /* bottom: 13vh; */
    left: 58vh;
    width: 310px;
}
/* welcome panel style end */

.PEbox{
    position: absolute;
    top: 45vh;
    left: 20vh;
    width: 61vh;
    min-height: 45vh;
    max-height: 45vh;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgb(0,0,0,.2);
    padding: 20px;
    overflow-y: auto;
}

.Barchart{
    position: absolute;
    top: 97vh;
    /* width: 100vh; */
    /* min-height: 45vh;
    max-height: 45vh; */
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgb(0,0,0,.2);
    padding: 40px 20px 0 40px;
    overflow-y: auto;
}

.grdePercentage{
    left: 84vh;
    width: 40vh;
}

.Events{
    left: 10%;
    width: 105vh;
    min-height: 72vh;
    max-height: 72vh;
}

.PEbox .alertBox{
    margin: 10px 0;
    border-radius: 4px;
    box-shadow: 5px 5px 30px rgb(0,0,0,.2);
    padding: 15px;
    color: #d8d8d8;
}

.grdePercentage .alertBox img{
    position: relative;
    top: -1vh;
    left: 76%;
    width: 40px;
}

.grdePercentage .alertBox h6{
    position: relative;
    top: 2.6vh;
    left: 3vh;
    font-size: 24px;
}

.PEbox::-webkit-scrollbar{
    width: 1.5vh;
}

.PEbox::-webkit-scrollbar-track{
    background-color: rgb(214, 213, 213);;
    border-radius: 10px;
}

.PEbox::-webkit-scrollbar-thumb{
    background-color: #206491;
    border-radius: 10px;
}

.subectWithProgrss{
    overflow-y: auto;
    /* background-color: red; */
    height: 34vh;
    margin: 20px 0 0 0;
}
.subectWithProgrss::-webkit-scrollbar{
    width: 1.5vh;
}

.subectWithProgrss::-webkit-scrollbar-track{
    background-color: rgb(214, 213, 213);
    border-radius: 10px;
}

.subectWithProgrss::-webkit-scrollbar-thumb{
    background-color: #206491;
    border-radius: 10px;
}

.progress .subectWithProgrss .sub{
    width: 395px;
    height: 120px;
    max-height: 120px;
    margin: 20px 5px 20px 7px;
    display: block;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(0,0,0,.2);
    padding: 25px 10px 15px 20px;
}

.progress .subectWithProgrss .sub:hover{
    transition: 1s;
    cursor: pointer;
}

.progress .subectWithProgrss .sub a{
    color: #000;
}

.page-wrapper .RankAttendance .rank{
    position: absolute;
    top: var(--topPosition);
    left: 131vh;
    background: #3B55CE;
    width: 30vh;
    min-height: 22vh;
    height: 22vh;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgb(0,0,0,.2);
    color: #ffff;
}

.page-wrapper .RankAttendance .rank img{
    width: 226px;
    height: 168px;
    border-radius: 10px;
    position: relative;
    bottom: -.01vh;
    left: .1px;
}

.page-wrapper .RankAttendance .attendance{
    position: absolute;
    top: var(--topPosition);
    left: 163vh;
    background: #3B55CE;
    width: 30vh;
    height: 22vh;
    min-height: 22vh;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgb(0,0,0,.2);
    color: #ffff;
}

.page-wrapper .RankAttendance .attendance img{
    width: 226px;
    height: 168px;
    border-radius: 10px;
    position: relative;
    bottom: -.01vh;
    left: .1px;
}

.page-wrapper .rnkTopic h4{
    position: absolute;
    top: 20%;
    left: 67%;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    z-index: 500;
}

.page-wrapper .attenTopic h4{
    position: absolute;
    top: 20%;
    left: 82%;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    z-index: 1;
}

.page-wrapper .rnkTopic h5{
    position: absolute;
    top: 26%;
    left: 69%;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    z-index: 1;
}

.page-wrapper .attenTopic h5{
    position: absolute;
    top: 26%;
    left: 85%;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    z-index: 1;
}

.page-wrapper .RankAttendance .iconRank img{
    position: absolute;
    top: 25%;
    left: 74%;
    width: 40px;
    z-index: 1;
}

.page-wrapper .RankAttendance .iconAttendance img{
    position: absolute;
    top: 25%;
    left: 90%;
    width: 40px;
    z-index: 1;
}


/******************************************************************************************************************************/
/******************************************************************************************************************************/

.progress .subectWithProgrss .grd6{
    background-color: #094C9B;
}

.progress .subectWithProgrss .grd7{
    background-color: #0D74A5;
}

.progress .subectWithProgrss .grd8{
    background-color: #6F7AB0;
}

.progress .subectWithProgrss .grd9{
    background-color: #83C6CD;
}

.progress .subectWithProgrss .grd10{
    background-color: #57B3CB;
}

.progress .subectWithProgrss .grd11{
    background-color: #6A97B5;
}


.progress .subectWithProgrss .grd6 h1,
.progress .subectWithProgrss .grd7 h1,
.progress .subectWithProgrss .grd8 h1,
.progress .subectWithProgrss .grd9 h1,
.progress .subectWithProgrss .grd10 h1,
.progress .subectWithProgrss .grd11 h1{
    font-size: 24px;
    color: white;
}

.progress .subectWithProgrss .grd6 p,
.progress .subectWithProgrss .grd7 p,
.progress .subectWithProgrss .grd8 p,
.progress .subectWithProgrss .grd9 p,
.progress .subectWithProgrss .grd10 p,
.progress .subectWithProgrss .grd11 p{
    color: white;
    padding: 10px 0;
}

.progress .subectWithProgrss .grd6 img,
.progress .subectWithProgrss .grd7 img,
.progress .subectWithProgrss .grd8 img,
.progress .subectWithProgrss .grd9 img,
.progress .subectWithProgrss .grd10 img,
.progress .subectWithProgrss .grd11 img{
    position: relative;
    top: -9vh;
    left: 76%;
    width: 50px;
}


/*******************************************************************************************************************/
/*******************************************************************************************************************/

.chartUsingDownload{
    position: absolute;
    top: 45%;
    left: 65%;
    width: 455px;
    height: 343px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgb(0,0,0,.2);
}




/*******************************************************************************************************************/
/*******************************************************************************************************************/

.space{
    position: absolute;
    top: 150%;
    width: 100px;
    height: 200px;
}

